@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500);

/* Initial body */
body {
  left: 0;
  margin: 0;
/*  overflow: hidden; */
  position: relative;
  height: auto;
  background-image: url('../Images/justin_tmb.jpg'); 
  background-attachment: fixed;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* Initial menu */
.menu {
  background: #202024 url('../Images/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu li:hover {
  background: #850008;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 8px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  z-index: 5000;
}

.icon-menu i {
  margin-right: 0px;
}

.menuButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1900), color-stop(1, #ce0100));
  background:-moz-linear-gradient(top, #fe1900 5%, #ce0100 100%);
  background:-webkit-linear-gradient(top, #fe1900 5%, #ce0100 100%);
  background:-o-linear-gradient(top, #fe1900 5%, #ce0100 100%);
  background:-ms-linear-gradient(top, #fe1900 5%, #ce0100 100%);
  background:linear-gradient(to bottom, #fe1900 5%, #ce0100 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1900', endColorstr='#ce0100',GradientType=0);
  background-color:#fe1900;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  border:1px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font: normal 'Roboto', sans-serif;
  font-size:15px;
  font-weight:bold;
  padding:4px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9a0407;
}
.menuButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1900));
  background:-moz-linear-gradient(top, #ce0100 5%, #fe1900 100%);
  background:-webkit-linear-gradient(top, #ce0100 5%, #fe1900 100%);
  background:-o-linear-gradient(top, #ce0100 5%, #fe1900 100%);
  background:-ms-linear-gradient(top, #ce0100 5%, #fe1900 100%);
  background:linear-gradient(to bottom, #ce0100 5%, #fe1900 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1900',GradientType=0);
  background-color:#ce0100;
  color: white;
}
.menuButton:active {
  position:relative;
  top:1px;
}


.wrapper {
}

.about {
  min-height: 100%; 
  width: 100%;
  background: rgba(17,17,17,0.7); 
  display: table;  
  overflow: hidden;
}

.education {
  height: 400px;
  width: 100%;
  background-image: url('../Images/noise_bg_trans.png');
  border-radius: 0px;
  background-repeat: none;
}

.skills {
  height: 400px;
  width: 100%;
  background-image: url('../Images/noise_bg_gold_trans.png');
  border-radius: 0px;
  background-repeat: none;
}

.experience {
  height: 400px;
  width: 100%;
  background-image: url('../Images/noise_bg_trans.png');
  border-radius: 0px;
  background-repeat: none;
}

.contact {
  height: 400px;
  width: 100%;
  background-image: url('../Images/noise_bg_trans.png');
  border-radius: 0px;
  background-repeat: none;
}

.resume {
  height: 150px;
  width: 100%;
  background-image: url('../Images/noise_bg_gold_trans.png');
  border-radius: 0px;
  background-repeat: none;
}

.bottom {
  height: 200px;
  width: 100%;
  /*background-image: url('../Images/black-thread.png');*/
  background: rgba(17,17,17,0.7);
  /*border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;*/
}

.nameHeader {
  display: table-cell; 
  vertical-align: middle;
  text-align:center;
}

.nameHeader h1{
  margin:0;
  text-align:center;
  font: normal 900 600%/1 'Roboto', sans-serif; 
  color:white;
  text-transform: uppercase;
  margin-top:20px; /*Make zero as was before*/ 
}

.nameHeader p { 
  font-size: 250%; 
  margin: 0.5em 0; 
  text-align:center;
  color:white;
  margin-bottom:40px;  /*Make 160 as was before*/
}

.nameHeader span { 
  font-size: 150%; 
  margin: 0.5em 0; 
  text-align:center;
  color:white;
  margin-top:40px;  /*Make 160 as was before*/
}

.aboutLinkBackgrounds {
  margin:auto;
  text-align: center;
  word-spacing: 0;
}

.aboutLinkBackgrounds img {
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #000000;
  background: rgba(255,255,255,.7);
  padding: 20px; 
  width: auto;
  height: auto; 
  margin:0px 30px;
}

